.button {
	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
	cursor: pointer;

	&:active,
	&:focus {
		outline: none;
	}

	&__deploy,
	&__commertial-proposal {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: $mainTextColor;
		transition: 0.4s;
	}

	&__deploy:hover,
	&__commertial-proposal:hover {
		opacity: 0.5;
	}

	&__deploy::before {
		content: url(../img/icon.svg);
		padding-right: 16px;
	}

	&__deploy--hidden {
		display: none;
	}

	@media screen and (min-width: 768px) {
		&__deploy--hidden {
			display: inline-block;
			margin-bottom: 32px;
		}
	}

	&__deploy--reverse::before {
		content: url(../img/icon-reverse.svg);
		padding-right: 17px;
	}

	&--oval {
		height: 32px;
		width: 119px;
		padding-left: 10px;
		font-size: 12px;
		line-height: 24px;
		text-align: left;
		letter-spacing: -0.15px;
		color: $menuItemBg;
		text-transform: uppercase;
		border: 2px solid $headerAndMenuButtonsColor;
		border-radius: 20px;
		background: url(../img/dropdownWhite.svg) no-repeat 85% $headerAndMenuButtonsColor;
		transition: 0.35s;
	}

	&--oval:hover {
		box-shadow: 0 0 4px 2px black;
		opacity: 0.7;
	}

	&__commertial-proposal {
		position: relative;
		text-align: left;
	}

	&__commertial-proposal::after {
		content: url(../img/line.svg);
		position: absolute;
		top: 25px;
		right: 170px;
	}

	@media screen and (min-width: 324px) {
		&__commertial-proposal::after {
			top: 0;
			right: -12px;
		}
	}
}






