.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	border-top: solid 1px $sectionDivider;
	padding-top: 16px;
	
	&__text {
		flex-basis: 100%;
		text-align: center;
		margin: 0;
		font-size: 14px;
		line-height: 16px;
		color: $mainMenuTextColor;
	}
	
	&__text:not(&__text:last-child) {
			margin-bottom: 16px;
	}
	
	@media screen and (min-width: 768px) {
		&__text {
			flex-basis: auto;
		}
		
		&__text:not(&__text:last-child) {
			margin-right: 35px;
			margin-bottom: 0;
			flex-shrink: 0;
			text-align: left;
		}
		
		&__text:last-child {
			text-align: right;
		}
	}
}

@media screen and (min-width: 768px) {
	.footer {
		flex-wrap: nowrap;
		justify-content: space-between;
		padding-top: 32px;
	}
}
	
	