.main {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 24px 0 40px;
	box-sizing: border-box;

	&__header {
		position: relative;
		width: 100%;
		margin-top: 0;
		margin-bottom: 24px;
		font-family: 'TT Lakes Bold';
		font-size: 28px;
		line-height: 40px;
		letter-spacing: -0.6px;
		color: $mainTextColor;
	}
	
	@media screen and (min-width: 1366px) {
		&__header {
			width: 50%;
			padding: 0;
			margin-bottom: 12px;
		}
	}

	&__header::before {
		content: '';
		position: absolute;
		top: 0;
		left: -16px;
		height: 40px;
		width: 4px;
		background: $menuItemActiveMarker;
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	
	@media screen and (min-width: 768px) {
		&__header::before {
			left: -24px;
		}
	}
	
	@media screen and (min-width: 1366px) {
		&__header::before {
			left: -34px;
		}
	}
	
	&__buttons-wrapper {
		display: none;
	}
	
	@media screen and (min-width: 1366px) {
		&__buttons-wrapper {
			display: flex;
			justify-content: flex-end;
			align-content: flex-start;
			width: 50%;
			margin-bottom: 12px;
		}
	}
	
	@media screen and (min-width: 1366px) {
		&__button {
			display: flex;
			align-items: center;
			align-content: flex-start;
			margin-left: 32px;
			font-family: 'TT Lakes Regular';
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.2px;
		}
	}
	
	&__menu {
		flex-shrink: 0;
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: $mainMenuTextColor;
		overflow: auto;
	}

	&__menu::-webkit-scrollbar {
		width: 0;
	}
	
	@media screen and (min-width: 1366px) {
		&__menu {
			flex-shrink: 1;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}
}

@media screen and (min-width: 768px) {
	.main {
		width: 100%;
		padding-top: 24px;
		padding-bottom: 47px;
	}
}

@media screen and (min-width: 1366px) {
	.main {
		padding-top: 0;
		padding-bottom: 50px;
	}
}

