$mainTextColor: #1B1C21;

$headerAndMenuButtonsColor: #FF3E79;

$sectionDivider: #D9FFF5;

$menuItemBg: #FFFFFF;

$menuItemHoverBorder: #B8FFEC;

$mainBg: #F8F8F8;

$menuItemActiveMarker: #41F6D7;

$mainMenuTextColor: #7E7E82;

$swiperSlideBorder: #EAEAEA;

$swiperPagBulletColor: #BBBBBB;

$swiperPagBulletActiveColor: #B5B6BC;

